<div class="border-bottom">
    <div class="container">
        <div class="row border-start border-end justify-content-center">
            {{ with $.Context }}
                <div class="col-md-10 space--lg px-5">

                    <!-- 
                        Title - This is the big bold text or can be a banner image 
                    -->
                    {{ if .Params.banner }} 
                        {{ with .Resources.GetMatch .Params.banner }}
                            <img 
                                class="w-100 mb-4" 
                                src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" 
                            />
                        {{ end }}
                    {{ else }}
                        <h1 id={{ .Title }} class="{{ $.Class.Heading | default "typo-xl" }} mb-5" >
                            {{ .Title | default "" | markdownify }}
                        </h1>
                    {{ end }}

                    <!-- 
                        Subtitle - This is to give reader's some context about the page.
                        Use page description if subtitle is not present.
                     -->
                    <p class="{{ if or $.WithPermalink $.WithAuthor }} mb-4 {{ else }} mb-0 {{ end }} 
                              {{ if .Params.subtitle }} fs-5 fw-normal typo-poppins {{ else }} text-muted {{ end }}">
                        {{ .Params.subtitle | default .Description | markdownify}}
                    </p>

                    <!-- Add a link below the content -->
                    {{ if $.WithPermalink }} 
                        <a href="{{ .Permalink }}">{{ $.WithPermalink }}</a>
                    {{ end }}

					<!--Render Information about the author-->
                    <div>
                        {{ if isset $ "WithAuthor" }} 
                            <small class="text-muted">Published on {{ .Date.Format "January 2, 2006" }} by {{ $.Context.Params.Author }}</small> 
                        {{ end }}
                    </div>

                </div>
            {{ end }}
        </div>
    </div>
</div>
