<div class="p-0 col-md-{{ .Col }} border-end">
    {{ if .Content }}
        <div class="border-bottom space--sm px-5 mb-0">
            <article class="content typo-sm typo-poppins">
                {{ .Content }}
            </article>
        </div>
    {{ end }}
    {{ range $index, $element := .Iterator  }}
        {{ with $element }}
            <div class="{{ if gt $index 0 }} border-top {{ end }}  space--sm px-5">
                <h3 class="{{ $.Class.Heading }}">
                    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                </h3>
                <p class="mb-1 typo-poppins typo-sm "><small>{{ .Description | default .Summary | markdownify }}</small></p>

				<p class="typo-xs">
					{{ .ReadingTime }} minute{{ if (ne .ReadingTime 1) }}s{{ end }}
				</p>
            </div>
        {{ end }}
    {{ else }} 
            {{ if .Placeholder }}
            <div class="d-flex align-items-center h-100">
                <h3 class="{{ .Class.Placeholder | default "typo-md"}} w-100 text-center" > {{ .Placeholder }}</h3>
            </div>
            {{ end }}
    {{ end }}
</div>
