@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'base/base';
@import 'components/components';


@mixin make-responsive-container($padding-x: $container-padding-x, $max-width: $max-width) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}


.seyx {
    .container {
        @include make-responsive-container(1rem, 1200px);
    }

    a {
        text-decoration: none;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

p {
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: $gray-900;
}

.row {
    margin: 0;
}



.border {
    &-end {
        &-md {
           // TODO 
        }
    }
}

pre {
    padding: 1rem 1.3rem;
    margin: 2.5rem 0;
    color: $gray-300;
    border-radius: 7px;
    line-height: 1.4rem;
    background: $gray-800 !important;
}

.section {
    &-single {
        article.content {
            h1, h2, h3 {
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            p, li {
                font-size: 1rem;
                color: $gray-700;
                letter-spacing: 1.2px;
                line-height: 150%;
                text-align: justify;
            }

            * > img {
                margin: 1rem 0;
                max-width: 100%;
                border: 1px solid $gray-300;
            }
        }
    }
}


@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
