$section-size: ('sm': 2rem, 'md': 4rem, 'lg': 6rem, 'xl': 8rem);

.space {
    padding: 1rem 0;
    @each $sz, $padding in $section-size {
        &--#{$sz} {
            padding: $padding 0;
        }    
    }
}

.section {
    &.footer {

        .social {
            font-size: .8rem;
        }

        svg {
            width: 1.2rem;
        }
    }
}

