<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
     
    {{/* all the head, meta, and seo tags are in the below partial */}}
    {{- partial "head.html" . -}}

    <body class="seyx">
        <!--Navigation related items that appears of every page go here-->
        {{- partial "header.html" . -}}

        <!-- Site Announcement: The sections that shows an CTA for announcement. -->
        {{ partial "components/cta" (dict 
                "Message"   $.Site.Params.announcement
                "Class"     (dict 
                    "Section"	"border-bottom"
                    "Content"	"space--sm"
                    "Message"   "typo typo-gradient"
                )
            )
        }}
        <!-- Site Announcement -->

        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>

        <!--Site footer that appears on every go here-->
        {{- partial "footer.html" . -}}

        <!-- Site Analytics: Google Analytics -->
        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
