{{ define "main" }}

<section class="section section-single bg-white">
    <!--<div class="container">-->
        {{ $category := $.Params.categories }}

        <div class="border-bottom">
            <div class="container">
                <div class="row border-start text-muted border-end justify-content-center">
                    <div class="col-md-6 space--sm px-5">
                        <span>
                            {{ $url := "" }}
                            {{ range $index, $crum := (split .RelPermalink "/") }}
                                {{ if gt (len . ) 0 }}
                                    {{ if gt $index 1 }}<small>/</small> {{ end }}
                                    {{ $url = (printf "%s/%s" $url $crum) }}
                                    <a href="{{ $url }}" class="text-muted">
                                        <small>{{ humanize $crum }}</small> 
                                    </a>
                                {{ end }}
                            {{ end }}
                        </span>

                    </div>
                    <div class="col-md-3 space--sm text-center border-start border-end px-2">
                        <small>
                            <span>
                                Last updated ~ <time datetime="{{ .Page.Lastmod.Format "Mon Jan 10 17:13:38 2020 -0700" }}" class="text-muted">
                                    {{ $.Page.Lastmod.Format "January 02, 2006" }}
                                </time>
                            </span>
                        </small>
                    </div>
                    <div class="col-md-3 space--sm text-center">
                        {{ with $.Site.GetPage (printf "/categories/%s" $category) }}
                        <a href={{ .RelPermalink }} title="Category">
                            <small><span> # {{ $category  }}</span></small>
                        </a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="border-bottom">
            <div class="container">
                <div class="row border-start border-end justify-content-center">
                    <div class="col-md-10 space--lg px-5">
                        {{ if $.Params.banner }} 
                            {{ with .Resources.GetMatch $.Params.banner }}
                                <img class="w-100" src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
                            {{ end }}
                        {{ else }}
                            <h1 class="typo-xl mb-4">{{ .Title | default ""}}</h1>
                        {{ end }}
                        <p class="mb-0 text-muted">{{ $.Description | default "" }}</p>
                    </div>
                </div>
            </div>
        </div> -->

        {{ partial "components/banner" (dict 
                "Context"       . 
                "WithAuthor"	true
				"Class"         (dict "Heading" "typo-league typo-xxl")
			) 
		}}

        <div class="border-bottom">
            <div class="container">
                <div class="row border-start border-end justify-content-center">
                    <div class="col-md-10 space--lg px-5">
                        <article class="content">
                            {{ .Content }}
                        </article>
                    </div>
                </div>
            </div>
        </div>

        {{ $tags := $.Params.tags }}

        {{ if $tags }}
        <div class="border-bottom">
            <div class="container">
                <div class="row border-start border-end">
                        <div class="col-md-9 p-0 border-end">
                            <div class="row p-0">
                                {{range $index, $taxonomy := $tags }} 
                                <div class="col-md-2 text-center py-3 {{ if le $index 6 }} border-end {{ end }}">
                                        {{ with $.Site.GetPage (printf "/tags/%s" $taxonomy) }}
                                                <a href={{ .RelPermalink }} class="text-muted my-auto" title="All pages with tag {{$taxonomy}}">
                                                    <small>{{ humanize $taxonomy}}</small>
                                                </a>
                                        {{end}}
                                    </div>
                                {{end}}
                            </div>
                        </div>
                    <div class="col-md-3 py-2 my-auto text-center">
                        <h1 class="typo-md mb-0"># Tags</h1>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        {{ $nextPage := (.GetPage ($.Params.next | default "nf")) | default $.Next }}

        {{ if and ($nextPage) (eq $nextPage.Section .Section) }}
            <div class="border-bottom">
                <div class="container">
                    <div class="row border-start border-end justify-content-center">
                        <div class="col-md-3 d-flex align-items-center border-end">
                            <h1 class="typo-lg my-auto w-100 text-center "># Read Next</h1>
                        </div>
                        <div class="col-md-9 space--lg px-5">
                            {{ with $nextPage}}
                                <h3 class="typo-md">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h3>
                                <p class="text-muted">{{ .Description }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}

        {{ if in (slice "posts") .Section }}
            <div class="border-bottom">
                <div class="container">
                    <div class="row flex-row-reverse-sm border-start border-end">
                        <!-- Listing for related pages -->
                        {{ partial "components/listings" (dict 
                                    "Iterator"  (.Site.RegularPages.Related .  | first 3) 
                                    "Col"       8 
                                    "Class"     (dict "Heading" "typo-sm") )
                        }}

                        <div class="col-md-4 space--sm px-5 d-flex align-items-center">
                            <h3 class="typo-lg my-auto w-100 text-center">#Related</h3>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}


        <!--More in category-->
        {{ $moreInCategory := (where .Site.RegularPages "Params.Categories" $category)  }}
        {{ if and $category ($moreInCategory)}}
            <div class="">
                <div class="container">
                    <div class="row flex-row-reverse-sm border-start border-end">
                        <div class="col space--sm px-5 d-flex align-items-center">
                            <h3 class="typo-sm my-auto w-100 text-center">#More in {{$category}}</h3>
                        </div>
                        <div class="p-0 col-md-9 border-start">
                            <div class="row">
                            {{ range $index, $element := $moreInCategory }}
                                {{ with $element }}
                                <div class="col d-flex align-items-center {{ if gt $index 0 }} border-start {{ end }} space--sm px-5">
                                    <h3 class="typo-sm my-auto text-muted">
                                        <a href="{{ .Permalink }}" class="text-muted">{{ .Title | markdownify }}</a>
                                    </h3>
                                    <!--<p class="mb-0 text-muted"><small>{{ .Description }}</small></p>-->
                                </div>
                                {{ end }}
                            {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    <!--</div>-->
</section>

{{ end }}


