<nav class="navbar navbar-expand-lg navbar-light bg-white p-4 border-bottom">
  <div class="container">
    <a class="navbar-brand typo-gradient" href="/">{{ $.Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-4 me-auto">
        {{ range $index, $section := .Site.Sections }}
            {{ if gt (len .RegularPages) 1 }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ .Title }}
                    </a>
                    <ul class="dropdown-menu p-0 border" aria-labelledby="navbarDropdown">
                        {{ range .RegularPages }}
                        <li><a class="dropdown-item px-3 border-bottom nav-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Permalink }}">{{ humanize .Title }}</a>
                </li>
            {{ end  }}
        {{ end }}
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-4">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item my-auto">
            {{range $.Site.Params.social}}
            <a href="align-middle">
                {{ partial (printf "svg/%s.svg" .name) }}
            </a>
            {{end}}
        </li> 
      </ul>
    </div>
  </div>
</nav>
