{{ define "main" }}

<section class="section space--lg border-bottom home bg-white">
    <div class="container">
        <h1 class="typo-xl">{{ $.Site.Params.title | default "Seydoux"}}</h1>
        <p class="">{{ $.Site.Params.subtitle | default (printf "%s should really add a subtitle here. Like all other things this is also a WIP block of this site :|" $.Site.Author.name) }}</p>
    </div>
</section>


<section class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 border-end border-start px-5 space--lg">
                <h1 class="typo-lg text-center">Recent Things</h1>
            </div>

            <div class="col-md-8 p-0 border-end">
                {{ $mainSections := .Site.Params.mainSections | default (slice "posts") }}
                {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" $mainSections) }}

                {{ range $paginator.Pages }} 
                    <div class="space--sm px-5 border-bottom">
                        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
                        <h3 class="typo-lg">
                            <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                        <div class="catalogue-line"></div>

                        <p>
                            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
                        </p>
                    </div>
                {{ end }}

                <div class="row m-0">
                    {{ if $paginator.HasPrev }}
                    <div class="col-md-1 border-end p-2 text-center">
                        <a href="{{ $paginator.Prev.URL }}" class="text-muted">
                            «
                        </a>
                    </div>
                    {{ end }}
                    {{ range $paginator.Pagers }}
                    <div class="col-md-1 border-end p-2 text-center">
                        <a href="{{ .URL }}" class="text-muted">
                            {{ .PageNumber }}
                        </a>
                    </div>
                    {{ end }}
                    {{ if $paginator.HasNext }}
                    <div class="col-md-1 border-end p-2 text-center">
                        <a href="{{ $paginator.Next.URL }}" class="text-muted">
                            »
                        </a>
                    </div>
                    {{ end }}
                </div>

                <!--<nav class="navbar navbar-expand-lg navbar-light bg-white">
                    <div class="container">
                        <ul class="navbar-nav mx-auto">
                            {{ if $paginator.HasPrev }}
                            <li class="nav-item">
                                <a href="{{ $paginator.Prev.URL }}" class="nav-link">
                                «
                                </a>
                            </li>
                            {{ end }}
                            
                            {{ range $paginator.Pagers }}
                                <li class="nav-item">
                                <a href="{{ .URL }}" class="nav-link">
                                    {{ .PageNumber }}
                                </a>
                                </li>
                            {{ end }}

                            {{ if $paginator.HasNext }}
                            <li class="nav-item">
                                <a href="{{ $paginator.Next.URL }}" class="nav-link">
                                »
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                        </div>
                    </div>
                </nav>
-->
            </div>
        </div>
    </div>
</section>


<section class="section space--lg border-bottom"></section>

{{ end }}

